<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
    <main class="container">
        <section id="services" class="services">
        <div class="services">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2 class="primary-text-color">Create Your Own Survey</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-graduation-cap fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Educational surveys</strong>
                                </h4>
                                <p>Any questions related to your education? Ask here</p>
                               
                                <fieldset class="form-group text-center">
					         
                               
                               <a class="btn btn-primary" href="/educational/create">
                        + Create Survey
                    </a>
                               
				                </fieldset>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-calendar-check-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Event Planning Surveys</strong>
                                </h4>
                                <p>Any questions related to your Event? Ask here</p>
                                
                                <fieldset class="form-group text-center">
					           
                               <a class="btn btn-primary" href="/educational/create">
                        + Create Survey
                    </a>
                               
				                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Employee Surveys</strong>
                                </h4>
                                <p>Any questions related to your Business? Ask here</p>
                                
                                <fieldset class="form-group text-center">
					           
                               <a class="btn btn-primary" href="/educational/create">
                        + Create Survey
                    </a>
                               
				                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-medkit fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Healthcare Surveys</strong>
                                </h4>
                                <p>Any questions related to your Health? Ask here</p>
                              
                                <fieldset class="form-group text-center">
					           
                               <a class="btn btn-primary" href="/educational/create">
                        + Create Survey
                    </a>
                               
				                </fieldset>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</body>
</html>

    </main>
<% include partials/footer.ejs %>
    