/* custom style sheet */

/* custom style sheet */


h2{
    margin-bottom: 50px;
}
.top{
    margin-top: 40px;
}
    .navbar-inverse  
    { 
       background: #421313; 
       border-color:  #421313;
       border-spacing: none;
      
       color: #FFFFFF;
     }
.red{
    color: #421313;
}
.white{
    color: #fff;
}
.btn btn-primary{
    background-color: #000;

}
body { 
    background: #FED8A8;
    color: #251312;
    
    }
   .text{
       color: #251312;
   }
    
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

/* Section styles  */
            section {
        padding-top: 10px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing:2px;
        font-size:1.4em;
        color:#E5EFFF;
    }

/* Paragraph   */
.aboutus p{
    padding-top: 35px;
    color: #421313;
    font-weight: 200;
    letter-spacing: 3px;
    font-family:  'Times New Roman', Times, serif;
    margin: auto;
    text-align: justify;
    font-size: 22px;
    width: 80%;
    position: relative;
    }
  .home p{
    color: #421313;
    font-weight: 200;
    font-size: 20px;

  }

/* Links */ 
 p a:link {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 22px;
}

 p a:visited {
    color: white;
    text-decoration: none;
}
 .navbar-brand{
     position: fixed;
     top: -10px;
 }           
 .h2about{
     position: fixed;
     top: 90px;
     right: 550px;
     text-align: center;
 }  


.nav{
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

.btn{
    
    background:  #455A64 !important;
    border-color: #455A64;
}

.demo-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 100px;
}
h4.title {
  text-align: center;
}
 section {
        padding-top: 10px;
        font-family: 'Abel', sans-serif;
        letter-spacing:2px;
        font-size:1.4em;
        color:#E5EFFF;
        
    }
    i {
        font-size:1.4em;
        color:#E5EFFF;
        
    }
